{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    {% if request.path != "/following" %}
        <header>All Posts</header>
    {% elif request.path == "/following" %}
        <header>Following</header>
    {% endif %}

    {% if user.is_authenticated %}

        {% if request.path != "/following" %}
            <form action="{% url 'post_content' %}" method="post" id="add-post-form">
                {% csrf_token %}
                <div>
                    <img src="{% static 'network/icons/reddit_profile.png' %}" alt="profile picture" id="profile-pic">
                    <textarea name="post_content" id="post-content" placeholder="What's on your mind, {{ user.first_name.capitalize }}?"></textarea>
                </div>
                <button type="submit">Post</button>
            </form>
        {% endif %}

        <div class="post-container">
            {% for post in current_page %}
                <div class="post-card">
                    <div class="post-heading">
                        <div>
                            <img src="{% static 'network/icons/reddit_profile.png' %}" alt="profile picture" id="profile-pic">
                        </div>
                        <div>
                            <div id="user-edit-head">
                                <a href="{% url 'profile' post.author.id %}">u/{{ post.author.username }}</a>
                                {% if request.user == post.author %}
                                    <button data-post-id="{{ post.id }}" id="edit-btn">Edit</button>
                                {% endif %}
                            </div>
                            <div id="post-date">Created at {{ post.created_at }}</div>
                        </div>
                    </div>
                    <div class="post-body">
                        <p id="{{ post.id }}">{{ post.content }}</p>
                    </div>
                    <div class="post-footer">
                        <img src="{% static 'network/icons/upvote.svg' %}" alt="upvote icon" id="upvote-icon">
                        <p>0</p>
                    </div>
                </div>
            {% endfor %}
            
            <div aria-label="Page navigation" class="page-list">
                <ul class="pagination">
                    {%  if current_page.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'index' %}?page={{ current_page.previous_page_number | urlencode }}">Previous</a>
                        </li>
                    {% endif %}

                    {% for page in page_range %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'index' %}?page={{ page | urlencode }}">{{page}}</a>
                        </li>
                    {% endfor %}

                    {%  if current_page.has_next %}
                        <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{ current_page.next_page_number | urlencode }}">Next</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
    {% endif %}

{% endblock %}