*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  color: #fff;
  background-color: #222222;
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.body {
  flex-grow: 2;
}

nav {
  position: sticky;
  padding: 1rem 2.5rem;
}

#logo {
  width: 55px;
  margin-bottom: 4rem;
}

nav > div {
  height: calc(100dvh - 10rem);
}

#nav-list {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  height: 100%;
  gap: 3rem;
}

#nav-list > li {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

#nav-list > li:hover > a {
  color: #cecece;
}

#nav-list > li > a {
  text-decoration: none;
  color: white;
}

#logout-btn {
  padding: 1rem 4rem;
  border-radius: 28px;
  background-color: #FC471E;
  border: 0;
}

#nav-list > li > button > a{
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

#nav-list > div {
  margin-top: auto;
}

#nav-list p {
  font-size: 1.2rem;
}

#nav-list p:last-of-type {
  color: #cecece;
}

.nav-icon {
  width: 30px;
}