*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  color: #fff;
  background-color: #222222;
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.body {
  flex-grow: 2;
  margin-left: 20.125rem;
  margin-right: 25.5rem;
  min-width: 26.563rem;
}

/* Nav */

nav {
  position: fixed;
  padding: 1rem 3rem;
  background-color: #1C1C1C;
  width: 20.125rem;
}

#logo {
  width: 55px;
}

nav > div {
  height: calc(100dvh - 10rem);
}

#nav-list {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  height: 100%;
  gap: 3rem;
  margin-top: 4rem;
}

#nav-list > li {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

#nav-list > li:hover > a {
  color: #cecece;
}

#nav-list > li > a {
  text-decoration: none;
  color: white;
}

#logout-btn {
  padding: 1rem 4rem;
  border-radius: 28px;
  background-color: #FC471E;
}

#nav-list > li > button > a{
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

#nav-list > div {
  margin-top: auto;
}

#nav-list p {
  font-size: 1.2rem;
}

#nav-list p:last-of-type {
  color: #cecece;
}

.nav-icon {
  width: 30px;
}

/* Aside */

aside {
  background-color: #1C1C1C;
  padding: 2rem 3rem;
  width: 25.5rem;
  position: fixed;
  right: 0;
  height: 100dvh;
}

#auth-section {
  background-color: #222222;
  padding: 1.5rem 3rem;
  border-radius: 12px;
}

#auth-section h1 {
  font-size: 20px;
  margin-bottom: 2rem;
}

#auth-section > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#auth-section a {
  height: 45px;
}

#auth-section a:first-of-type {
  color: #fff;
  text-decoration: none;
  border-radius: 28px;
  background-color: #FC471E;
  text-align: center;
  padding-top: 11px;
}

#auth-section a:first-of-type:hover {
  color: #cecece;
}

#auth-section a:last-of-type {
  color: #FC471E;
  text-decoration: none;
  border-radius: 28px;
  border: solid 1px #FC471E;
  text-align: center;
  padding-top: 11px;
}

#auth-section a:last-of-type:hover {
  text-decoration: underline;
}

#interest-section {
  background-color: #222222;
  border-radius: 12px;
}

#interest-section > div {
  border-bottom: solid 1px #434343;
  padding: 1.5rem 2rem;
}

#interest-section h1 {
  font-size: 20px;
}

#interest-section ul {
  padding: 1.5rem 2rem;
}

#interest-section ul > li {
  list-style: none;
  margin-bottom: 1rem;
}

#interest-section ul > li > a {
  text-decoration: none;
  color: white;
}

#interest-section ul > li > a:hover {
  text-decoration: underline;
}

/* Login */

#auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: calc(100dvh / 2);
  transform: translateY(-50%);
}

#auth-container > img {
  width: 80px;
}

#auth-container > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#auth-container input:not(#auth-button) {
  color: #fff;
  background-color: #434343;
  border: 0;
  height: 3rem;
  padding: 0.5rem 1.5rem;
}

#auth-container input:not(#auth-button, #first-name, #last-name) {
  width: 30rem;
}

#auth-container input:focus {
  outline: 2px solid #FC471E;
}

#auth-button {
  width: 100%;
  padding: 1rem 4rem;
  border-radius: 26px;
  background-color: #FC471E;
  border: 0;
  color: #fff;
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#auth-button:hover {
  background-color: #e5411d;
  color: #cecece;
  cursor: pointer;
}

#auth-container a {
  text-decoration: none;
  color: #FC471E;
}

#auth-container a:hover {
  text-decoration: underline;
}

/* Register */

#name-group {
  display: grid;
  grid-template-columns: 15rem 15rem;
  column-gap: 5px;
}

/* Index */

header {
  padding: 1rem 2rem;
  border-bottom: 1px solid #434343;
  font-size: 20px;
  background-color: #1C1C1C;
}

#add-post-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #1C1C1C;
}

#profile-pic {
  width: 50px;
  border-radius: 50%;
}

#add-post-form > button {
  align-self: end;
  color: #fff;
  border-radius: 28px;
  background-color: #FC471E;
  text-align: center;
  border: 0;
  width: 4rem;
  padding: 0.2rem 0;
  margin-top: 1.5rem;
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#add-post-form textarea {
  height: 100%;
  width: calc(100% - 60px - 3rem);
  outline: 0;
  background-color: #1C1C1C;
  color: #fff;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin-left: 1rem;
  resize: none;
  field-sizing: content;
}

#add-post-form > button:hover {
  color: #cecece;
  cursor: pointer;
}

/* Posts */

.post-container {
  overflow-y: scroll;
}

.post-card {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1.5rem;
  background-color: #1C1C1C;
  margin: 2rem;
}

.post-heading {
  display: flex;
  gap: 12px;
}

.post-heading > div:last-child {
  flex-grow: 2;
}

#user-edit-head {
  display: flex;
  justify-content: space-between;
}

#user-edit-head > button {
  background: none;
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#user-edit-head > button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.post-heading a {
  text-decoration: none;
  color: white;
}

.post-heading a:hover {
  text-decoration: underline;
}

#post-date {
  font-size: 0.7rem;
  color: #cecece;
}

.post-body {
  font-size: 0.8rem;
  margin: 1.5rem 0;
}

.post-footer {
  display: flex;
  gap: 5px;
  border-top: solid 1px #434343;
  padding-top: 1rem;
}

#upvote-icon {
  width: 1.1rem;
  cursor: pointer;
}