*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  color: #fff;
  background-color: #222222;
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.body {
  flex-grow: 2;
}

/* Nav */

nav {
  position: sticky;
  padding: 1rem 3rem;
  background-color: #1C1C1C;
  width: 20.125rem;
}

#logo {
  width: 55px;
}

nav > div {
  height: calc(100dvh - 10rem);
}

#nav-list {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  height: 100%;
  gap: 3rem;
  margin-top: 4rem;
}

#nav-list > li {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

#nav-list > li:hover > a {
  color: #cecece;
}

#nav-list > li > a {
  text-decoration: none;
  color: white;
}

#logout-btn {
  padding: 1rem 4rem;
  border-radius: 28px;
  background-color: #FC471E;
}

#nav-list > li > button > a{
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

#nav-list > div {
  margin-top: auto;
}

#nav-list p {
  font-size: 1.2rem;
}

#nav-list p:last-of-type {
  color: #cecece;
}

.nav-icon {
  width: 30px;
}

/* Aside */

aside {
  background-color: #1C1C1C;
  padding: 2rem 3rem;
  width: 408px;
}

aside > div {
  background-color: #222222;
  padding: 1.5rem 3rem;
  border-radius: 12px;
}

aside h1 {
  font-size: 20px;
  margin-bottom: 2rem;
}

aside > div > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside a {
  height: 45px;
}

aside a:first-of-type {
  color: #fff;
  text-decoration: none;
  border-radius: 28px;
  background-color: #FC471E;
  text-align: center;
  padding-top: 11px;
}

aside a:first-of-type:hover {
  color: #cecece;
}

aside a:last-of-type {
  color: #FC471E;
  text-decoration: none;
  border-radius: 28px;
  border: solid 1px #FC471E;
  text-align: center;
  padding-top: 11px;
}

aside a:last-of-type:hover {
  text-decoration: underline;
}

/* Login */

#auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: calc(100dvh / 2);
  transform: translateY(-50%);
}

#auth-container > img {
  width: 80px;
}

#auth-container > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#auth-container input:not(#auth-button) {
  color: #fff;
  background-color: #434343;
  border: 0;
  height: 3rem;
  padding: 0.5rem 1.5rem;
}

#auth-container input:not(#auth-button, #first-name, #last-name) {
  width: 30rem;
}

#auth-container input:focus {
  outline: 2px solid #FC471E;
}

#auth-button {
  width: 100%;
  padding: 1rem 4rem;
  border-radius: 26px;
  background-color: #FC471E;
  border: 0;
  color: #fff;
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#auth-button:hover {
  background-color: #e5411d;
  color: #cecece;
  cursor: pointer;
}

#auth-container a {
  text-decoration: none;
  color: #FC471E;
}

#auth-container a:hover {
  text-decoration: underline;
}

/* Register */

#name-group {
  display: grid;
  grid-template-columns: 15rem 15rem;
  column-gap: 5px;
}